.modalBg {
  background-color: black;
  opacity: 0.7;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1001;
  transition: 0.2s;
}

.container {
  z-index: 100;
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  transition: 0.2s;
  z-index: 1000;
}

.container.visible {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transiton: 0.2s;
}

.modal {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 50%;
  z-index: 1002;
  height: 80%;
  max-height: 80%;
  overflow-y: scroll;
}

.modal > h1 {
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.closeButton {
  cursor: pointer;
  display: block;
  background-color: #95a5a6;
  outline: none;
  border:none;
  padding: 5px;
  border-radius: 3px;
}

