.siteContainer {
  width: 100vw;
  padding: 0px 20px;
  padding-top: 80px;
  position: relative;
}

.searchInput {
  width: calc(100% - 22px);
  padding: 10px;
  border-radius: 10px;
  background-color: #ecf0f1;
  border: 1px solid #bdc3c7;
  color: #bdc3c7; 
  outline: none;
  transition: 0.2s;
  position: relative;
}

.searchInputBg {
  padding: 20px;
  backdrop-filter: blur(10px);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
}

.searchInput:focus {
  border: 1px solid #8e44ad;
  color: #8e44ad;
  transition: 0.2s;
}

.courseEntry {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #95a5a6;
}

.courseEntry > h1 {
  font-size: 16px;
}

